---
import Layout from "../layouts/Layout.astro";
import SectionHome from "../components/organisms/SectionHome.astro";
---

<Layout>
    <section id="case">
        <section class="section-inner">
            <h1>Fresk Digital</h1>
        </section>
    </section>

</Layout>

<style>

</style>