---
import Layout from "../layouts/Layout.astro";
import NextCase from "../components/atoms/NextCase.astro";
---

<Layout>
    <section id="case">
        <section class="section-inner">
            <h1>Fresk Digital</h1>
            <ul>
                <li>
                    Chart.js
                </li>
                <li>
                    Node & Express
                </li>
                <li>
                    EJS
                </li>
                <li>
                    CSS
                </li>
                <li>
                    Javascript
                </li>
            </ul>
            <img src="/images/Fresk-Digital.png" alt="">
            <h2>Highlights of this project</h2>
            <ul>
                <li>
                    Learned how to use view-transitions
                </li>
                <li>
                    Learned how to use Chart.js
                </li>
                <li>
                    Learned how to use Node & Express
                </li>
            </ul>
        </section>
    </section>

    <NextCase />
</Layout>

<style>
    #case {
        h1 {
            margin: 196px 0 96px 0;
        }
        img {
            width: 100%;
            margin-bottom: 64px;
        }
    }
</style>