---
import Layout from "../layouts/Layout.astro";
import NextCase from "../components/atoms/NextCase.astro";
---

<Layout>
    <section id="case">
        <section class="section-inner">
            <h1>WOGO Cocktail Walks</h1>
            <img src="/images/WOGO.png" alt="">
        </section>
    </section>

    <NextCase />
</Layout>

<style>
    #case {
        h1 {
            margin: 196px 0 96px 0;
        }
        img {
            width: 100%;
            margin-bottom: 64px;
        }
    }
</style>