---
import Layout from "../layouts/Layout.astro";
import Cases from "../components/molecules/Cases.astro";
import NextCase from "../components/atoms/NextCase.astro";
---

<Layout>
    <section id="case">
        <section class="section-inner">
            <h1>What have I created during my studies?</h1>

            <Cases />

            <a href="https://github.com/TygoWolven?tab=repositories" class="primary-button">
                <span>
                    All projects on Github
                </span>
            </a>
        </section>
    </section>
    
    <NextCase />
</Layout>

<style>
    h1 {
        text-transform: inherit;
        font-family: Montserrat;
        margin: 196px 0 96px 0;
        max-width: 18ch;
    }

    .primary-button {
        margin-bottom: 64px;

        span {
            &::before {
                content: "49";
                position: absolute;
                font-size: 12px;
                opacity: 0.5;
                right: 1.8rem;
                top: 1.2rem;
                z-index: 2;
            }
        }
    }
</style>