---
import Layout from "../layouts/Layout.astro";
import Cases from "../components/molecules/Cases.astro";
---

<Layout>
    <section id="case">
        <section class="section-inner">
            <h1>All of my highlighted work</h1>
            <Cases />
        </section>
    </section>
</Layout>

<style>

</style>