---
// Icons
import DiagonalChevron from "../atoms/icons/DiagonalChevron.astro";

// Dynamic Content
const { link, image, title, framework } = Astro.props;
---

<li>
    <a href={ link }>
        <!-- If / Else Statement -->
        { image ? (
            <img src={image} alt={title} />
        ) : (
            <div class="archive">
                <span>48</span>
            </div>
        )}        

        <h2>{ title }</h2>

        <div>
            <p>{ framework }</p>
            <DiagonalChevron color="var(--white)" />
        </div>
    </a>
</li>

<style>
    li {
        a {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
			    aspect-ratio: 1;
			    padding: 0 2rem;
			    object-fit: contain;
            }

            h2 {
                font-weight: 600;
                margin: 2rem 0 1rem 0;
            }

            div.archive {
                width: 100%;
                aspect-ratio: 1;
                position: relative;
                border: 2px solid var(--light-grey);

                span {
                    font-size: 24px;
                    position: absolute;
                    color: var(--light-grey);

                    top: 1.5rem;
                    right: 1.5rem;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    background: var(--light-grey);

                    width: 2px;
                    height: 100px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }

            div:not(.archive) {
                display: flex;
                padding-top: 1rem;
                justify-content: space-between;
                border-top: 2px solid var(--light-grey);
            }

        }

        &:hover {
            a {
                img {
                    padding: 0 1.5rem;
                }
                svg {
                    transform: rotate(45deg);
                }
            }
        }
    }
</style>