---
const { nextCase } = Astro.props;
---

<section id="next-case">
    <section class="section-inner">
        <a href="/">
            <p>Next case</p>
            <h3>WOGO</h3>
            <img src="/images/WOGO.png" alt="">
        </a>
        <img src="/images/Star.png" alt="" class="star">
    </section>
</section>


<style>
    #next-case {
        padding-top: 96px;
        padding-bottom: 7rem;
        margin-bottom: -124px;
        border-radius: 124px 124px 0 0;
        background: var(--light-blue);

        /* Mobile */
        @media (max-width: 768px) {
            border-radius: 48px 48px 0 0;
        }
        
        .section-inner {
            display: flex;
            justify-content: center;
            background: var(--light-blue);
            
            a {
                display: flex;
                overflow: hidden;
                position: relative;
                align-items: center;
                flex-direction: column;
                border-bottom: 2px solid var(--white);

                /* Anchor positioning */
                anchor-name: --star-anchor;

                h3 {
                    font-size: 3rem;
                    font-weight: 500;
                    margin-top: 1rem;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-family: "Tan Kulture";
                    transition: var(--slow);
                }

                img {
                    width: 50%;
                    display: flex;
                    justify-self: center;
                    margin-top: -124px;

                    padding: 1rem;
                    border-radius: 1rem;
                    transition: var(--slow);
                    box-shadow: var(--smooth);
                    transform: translateY(50%);
                    background: var(--medium-grey);
                    border: 4px solid var(--light-grey);
                }

                &:hover {
                    h3 {
                        opacity: 0.5;
                    }

                    img {
                        transform: translateY(20%);
                    }
                }

                @media (max-width: 768px) {
                    h3 {
                        font-size: 2rem;
                    }

                    img {
                        width: 80%;
                    }
                }  
            }

            .star {
                filter: brightness(100);
                transform: translateY(-50%);
                
                /* Anchor positioning */
                position: absolute;
                position-anchor: --star-anchor;
                position-area: bottom center;
            }
        }
    }
</style>