---
import DiagonalChevron from "../atoms/icons/DiagonalChevron.astro";

const { link, title, service, framework } = Astro.props;
---

<li>
    <a href={ link }>
        <h3>{ title }</h3>
        <p>{ service }</p>
        <p>{ framework }</p>
        <DiagonalChevron color="var(--white)" />
    </a>
</li>

<style>
    li {
        a {
            display: grid;
            align-items: center;

            padding: 2rem 4rem;
            grid-template-columns: 2fr 2fr 2fr 1fr;

            /* Mobile */
            @media (max-width: 768px) {
                padding: 2rem;
            }

            h3 {
                min-width: 333px;
                font-size: 1.5rem;

                /* Mobile */
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }

            p:first-of-type {
                min-width: 222px;
            }

            svg {
                justify-self: end;
                transition: var(--quick);
            }
        }

        &:hover {
            a {
                svg {
                    transform: rotate(45deg);
                }
            }
        }

        /* Mobile / Laptop */
        @media (max-width: 1050px) {
            a {
                display: flex;
                justify-content: space-between;

                h3 {
                    min-width: unset;
                }

                p:nth-of-type(2) {
                    display: none;
                }
            }
        }
    }
</style>