---
import DiagonalChevron from "../atoms/icons/DiagonalChevron.astro";

const { link, image, title, service, framework } = Astro.props;
---

<li class="hover-content">
    <a href={ link }>
        <img src={ image } alt="Preview of `title`">
        <h3>{ title }</h3>
        <div class="flex justify">
            <p>{ service }</p>
            <p>{ framework }</p>
            <DiagonalChevron color="var(--white)" />
        </div>
    </a>
</li>

<style>
    li {
        a {
            display: grid;
            align-items: center;

            padding: 2rem 4rem;
            grid-template-columns: 2fr 5fr;

            img {
                display: none;
            }

            h3 {
                min-width: 333px;
                font-size: 1.5rem;
            }

            div {
                display: grid;
                grid-template-columns: 2fr 2fr 1fr;

                p:first-of-type {
                    min-width: 222px;
                }
    
                svg {
                    justify-self: end;
                    transition: var(--quick);
                }
            }

        }

        &:hover {
            a {
                svg {
                    transform: rotate(45deg);
                }
            }
        }

        
        /* Laptop */
        @media (max-width: 1050px) {
            a {
                display: flex;
                padding: 1rem;
                flex-direction: column;
                
                img {
                    display: block;
                    border-radius: 0.5rem;
                }
                
                h3 {
                    width: 100%;
                    min-width: unset;
                    margin: 2rem 0 0.5rem 0;
                }
                
                div {
                    width: 100%;
                    padding-top: 1rem;
                    border-top: 2px solid var(--light-grey);
                    
                    p:nth-of-type(2) {
                        display: none;
                    }
                }
                
            }
        }

        /* Mobile */
        @media (max-width: 768px) {
            a {
                padding: 2rem;
    
                h3 {
                    font-size: 20px;
                }
            }
        }
    }
</style>