---
import Skill from "../atoms/Skill.astro"
---

<ul class="subtitles">
	<li>
		<h4 class="subtitle">
			Case
		</h4>
	</li>
	<li>
		<h4 class="subtitle">
			Service
		</h4>
	</li>
	<li>
		<h4 class="subtitle">
			Framework
		</h4>
	</li>
	<li>
		<h4 class="subtitle">
			More information
		</h4>
	</li>
</ul>

<ul class="skills">
	<Skill
		link="fresk-digital"
		title="Fresk Digital" 
		service="Design & Development" 
		framework="HTML, CSS, Javascript"  
	/>
	<Skill
		link="wogo-cocktail-walks"
		title="WOGO Cocktail Walks" 
		service="Design & Development"    
		framework="Sveltekit"  
	/>
	<Skill
		link="de-hallen"
		title="De Hallen" 
		service="Design & Development"     
		framework="HTML, CSS, Javascript" 
	/>
	<Skill
		link="business-news-radio"
		title="Business News Radio" 
		service="Design & Development"   
		framework="HTML, CSS, Javascript"   
	/>
	<Skill
		link="squadpages"
		title="Squadpages" 
		service="Design & Development"   
		framework="HTML, CSS, Javascript"   
	/>
	<Skill
		link="my-portfolio"
		title="My Portfolio" 
		service="Design & Development"   
		framework="Astro"   
	/>
	<Skill
		link="my-learning-blog"
		title="My Learning Blog" 
		service="Design & Development"   
		framework="Astro"   
	/>
</ul>

<style>
    ul.subtitles {
		display: grid;
		grid-area: subtitles;
		border: 4px solid transparent;
		grid-template-columns: 2fr 2fr 2fr 1fr;

		padding: 0 4rem;
		margin-bottom: 0.5rem;

        /* Mobile */
        @media (max-width: 768px) {
            padding: 0 2rem;
        }
	
        li {
            h4.subtitle {
                font-size: 12px;
                font-weight: 600;
                white-space: nowrap;
                text-transform: uppercase;
                color: var(--regular-grey);
            }

			&:first-of-type h4 {
				min-width: 333px;
			}
			&:nth-of-type(2) h4 {
				min-width: 222px;
			}
			&:last-of-type h4 {
				justify-self: end;
			}
		}

        /* Mobile / Laptop */
        @media (max-width: 1050px) {
            li {
                h4.subtitle {
                    &:first-of-type {
                        min-width: unset;
                    }
                }
            }

            li:nth-of-type(2),
            li:nth-of-type(3) {
                h4 {
                    display: none;
                }
            }
        }
	}

	ul.skills {
		grid-area: skills;
		justify-content: center;
		
		li {
			&:nth-of-type(1n) {
				border-radius: 1rem;
				box-shadow: var(--smooth);
				background: var(--medium-grey);
				border: 4px solid var(--light-grey);
			}
	
			&:nth-of-type(2n) {
				background: none;
				box-shadow: none;
				border: 4px solid transparent;
			}
		}

	}

	/* Mobile / Laptop */
	@media (max-width: 1050px) {
		ul.subtitles {
			display: none;
		}

		ul.skills {
			display: flex;
			flex-wrap: wrap;
			justify-content: unset;
	
			li:nth-of-type(1n),
			li:nth-of-type(2n) {
				width: calc(50% - 1rem);
				box-shadow: var(--smooth);
				background: var(--medium-grey);
				border: 4px solid var(--light-grey);
			}
			li:nth-of-type(1n) {
				margin: 0 1rem 2rem 0;
			}
			li:nth-of-type(2n) {
				margin: 0 0 2rem 1rem;
			}
		}
	}
</style>