---
import DiagonalChevron from "../atoms/icons/DiagonalChevron.astro";
---

<section id="footer">
    <div class="section-inner">
        <footer>
            <h3>Lets <span>work</span> together</h3>
            <div>
                <p>12:39 PM Amsterdam</p>
                <ul class="socials">
                    <li>
                        <a href="https://github.com/TygoWolven">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/tygo-wolven-091515241/">
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tygowolvenn_/">
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>

<style>
    #footer {
        padding-top: 96px;
        padding-bottom: 96px;
        border-radius: 124px 124px 0 0;
        background: var(--light-blue);

        /* Mobile */
        @media (max-width: 768px) {
            border-radius: 48px 48px 0 0;
        }

        .section-inner {
            h3 {
                font-family: "Tan Kulture";
                text-transform: uppercase;
                white-space: nowrap;
                text-align: center;
                
                font-weight: 500;
                font-size: clamp(2rem, 8vw, 128px);

                span {
                    font-family: inherit;
                    font-size: inherit;
                    position: relative;

                    &::before {
                        content: "Available for work";
                        position: absolute;
                        text-align: center;
                        color: var(--light-blue);
                        background: var(--dark-blue);
                        transform: translateY(-50%);
                        width: 100%;
                        top: 50%;

                        font-size: 16px;
                        font-weight: 600;
                        line-height: 100%;
                        padding: 0.5rem 0;
                        font-family: Montserrat;

                        @media (max-width: 500px) {    
                            padding: 0.2rem 0;                        
                        }
                        
                        @media (max-width: 1000px) {    
                            font-size: 1.6cqw;
                        }
                    }
                }
            }

            div {
                display: flex;
                position: relative;
                justify-content: space-between;
                
                padding-top: 4rem;
                margin-top: calc(5rem + 2px);
                border-top: 2px solid var(--white);

                @media (max-width: 500px) {    
                    margin-top: calc(3rem + 2px);  
                    flex-direction: column;
                    gap: 3rem;
                }

                &::after {
                    content: url("/images/Star.png");
                    position: absolute;
                    left: 50%;
                    top: 1px;
                    filter: brightness(100);
                    transform: translate(-50%, -50%);
                }

                p {
                    position: relative;
                    font-weight: 600;
            
                    &::before {
                        content: "Local Time";
                        position: absolute;
                        top: -100%;
                        opacity: 0.5;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }

                .socials {
                    gap: 2rem;
                    display: flex;
                    font-weight: 600;
                    position: relative;
            
                    &::before {
                        content: "Social Media";
                        position: absolute;
                        top: -100%;
                        opacity: 0.5;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
            
                    a {    
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
</style>