---
import DiagonalChevron from "../atoms/icons/DiagonalChevron.astro";
---

<section id="footer">
    <div class="section-inner">
        <footer>
            <div class="top-footer flex justify">
                <h3>Tygo Wolven</h3>
                <a href="#home" class="back-to-top">
                    <DiagonalChevron color="var(--dark-grey)" />
                </a>
            </div>
            <div class="bottom-footer flex justify">
                <p>12:39 PM Amsterdam</p>
                <ul class="socials">
                    <li>
                        <a href="https://github.com/TygoWolven">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/tygo-wolven-091515241/">
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tygowolvenn_/">
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>

<style>
    #footer {
        padding-top: 124px;
        padding-bottom: 64px;
        border-radius: 124px 124px 0 0;
        background: var(--light-blue);

        /* Mobile */
        @media (max-width: 768px) {
            border-radius: 48px 48px 0 0;
        }
        
        .top-footer {
            h3 {
                font-size: 4rem;
                font-weight: 500;
                letter-spacing: 1px;
                margin-bottom: 4rem;
                text-transform: uppercase;
                font-family: "Tan Kulture";

                /* Mobile */
                @media (max-width: 768px) {
                    font-size: 3rem;
                    max-width: 8ch;
                    line-height: 120%;
                }
            }

            .back-to-top {
                /* Weird paddings to fix the svg path spacing... (Looking for a better fix) */
                padding: 43px 44px 40px 45px;
                
                border-radius: 50%;
                height: fit-content;
                background: var(--white);
                transition: var(--quick);
    
                svg {
                    scale: 1.5;
                transform: rotate(-45deg);
                }
    
                &:hover {
                    scale: 1.1;
                }
            }
        }

        .bottom-footer {
            p {
                position: relative;
                font-weight: 600;
    
                &::before {
                    content: "Local Time";
                    position: absolute;
                    top: -100%;
                    opacity: 0.5;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }

            .socials {
                gap: 2rem;
                display: flex;
                font-weight: 600;
                position: relative;
    
                &::before {
                    content: "Social Media";
                    position: absolute;
                    top: -100%;
                    opacity: 0.5;
                    font-size: 12px;
                    text-transform: uppercase;
                }
    
                a {
                    transition: var(--quick);
    
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            /* Mobile */
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;

                p {
                    margin-bottom: 4rem;
                }
            }
        }
    }
</style>