<section id="footer">
    <footer>
        <h3>Tygo Siemon Wolven</h3>
    </footer>
</section>

<style>
    #footer {
        border-radius: 100px 100px 0 0;
        background: var(--light-blue);
    }
</style>