<header>
    <nav>
        <a href="/">
            <span>Tygo <br> Wolven</span>
        </a>

		<input id="menu-button" type="checkbox">
		<label for="menu-button"></label>      

        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#journey">Journey</a>
            </li>
            <li>
                <a href="#work">Work</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        z-index: 1;
        width: 100%;
        padding: 2rem;
        max-width: calc(1440px + 4rem);
        
        position: fixed;
        justify-self: center;
        
        /* Mobile */
        @media (max-width: 768px) {
            padding: 1rem;
        }
        
        nav {
            display: flex;
            justify-content: space-between;

            a span {
                font-family: "Tan Kulture";
                text-transform: uppercase;
                line-height: 100%;
                user-select: none;
            }
        }

        .menu {
            display: flex;
            flex-direction: column;

            display: none;
            position: absolute;

            gap: 2rem;
            width: 200%;
            height: 100vh;
            margin-top: -2rem;
            user-select: none;
            align-items: center;
            justify-content: center;
            transform: translateX(-25%);
            background: var(--dark-grey);
            
            li a {
                font-size: 2rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: "Tan Kulture";
            }
        }

        input[type="checkbox"] {
            display: none;

            &:checked {
                & ~ label {
                    &::before {
                        rotate: 10deg;
                        transform: translateY(calc(0.5rem - 3px));
                        transition: transform var(--quick),
                                    rotate var(--quick) 0.3s;
                    }
                    &::after {
                        rotate: -10deg;
                        transform: translateY(-0.5rem);
                        transition: transform var(--quick),
                                    rotate var(--quick) 0.3s;                    
                    }
                }

                & ~ ul.menu {
                    display: flex;
                }
            }
        }

        label {
            z-index: 1;
            width: 7rem;
            height: 1rem;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                transition: var(--quick);
                background: var(--white);
                width: 100%;
                height: 3px;
            }

            &::after {
                bottom: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
</style>