<header>
    <div class="section-inner">
        <nav>
            <a href="/">
                <img src="/public/TSW-Logo.png" alt="">
            </a>
    
            <input type="checkbox">
        </nav>
    </div>
</header>

<style>
    header {
        position: fixed;
        justify-self: center;

        nav {
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;
        }
    }
</style>