<header>
    <nav>
        <a href="/">
            <img
                src="/TSW-Logo.png"
                alt="Tygo Siemon Wolven Logo"
            />
        </a>

        <input type="checkbox">
    </nav>
</header>

<style>
    header {
        top: 0;
        position: sticky;
        mix-blend-mode: difference;
        padding: 1rem 2rem;

        input {
            position: relative;
            
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 5px;
                background: red;
            }
        }

        /* Mobile */
        @media (max-width: 768px) {
            padding: 1rem;
        }
    }
</style>
