---
import HeaderMenu from "../atoms/HeaderMenu.astro"
---

<header>
    <nav>
        <a href="/">
            <span>Tygo <br> Wolven</span>
        </a>

        <HeaderMenu />
    </nav>
</header>

<style>
    header {
        z-index: 3;
        width: 100%;
        padding: 2rem;
        max-width: calc(1440px + 4rem);
        
        position: fixed;
        justify-self: center;
        
        /* Mobile */
        @media (max-width: 768px) {
            padding: 1rem;
        }
        
        nav {
            display: flex;
            justify-content: space-between;

            a span {
                font-family: "Tan Kulture";
                text-transform: uppercase;
                line-height: 100%;
                user-select: none;
            }
        }
    }
</style>