---
import TSWLogo from "../atoms/icons/TSWLogo.astro";
---

<header>
    <nav>
        <a href="/">
            <TSWLogo color="var(--white)" />
        </a>

		<input id="menu-button" type="checkbox">
		<label for="menu-button"></label>        
    </nav>
</header>

<style>
    header {
        z-index: 1;
        width: 100%;
        max-width: 1440px;

        position: fixed;
        justify-self: center;
        mix-blend-mode: difference;

        nav {
            display: flex;
            padding: 2rem 0;
            justify-content: space-between;
        }

        input[type="checkbox"] {
            display: none;

            &:checked {
                & ~ label {
                    &::before {
                        transform: rotate(6.7deg);
                        transform-origin: left;
                    }
                    &::after {
                        transform: rotate(-6.7deg);
                        transform-origin: left;
                    }
                }
            }
        }

        label {
            width: 7rem;
            height: 1rem;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                transition: var(--quick);
                background: var(--white);
                width: 100%;
                height: 3px;
            }

            &::after {
                bottom: 0;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
</style>