---
import Star from "../atoms/icons/Star.astro"
---

<section id="home">
    <section class="section-inner">
		<h1>
			Tygo <br> 
			Wolven

			<div>
				<img src="/images/Tygo-Wolven-Portrait-Blue.png" alt="">
			</div>
		</h1>

		<Star />

		<blockquote>
            I'm Tygo Wolven — a <strong>junior</strong> frontend designer & devloper 
			<strong>passionately</strong> creating digital experiences to make the web 
			a <strong>better place</strong> for <strong>everyone</strong>.
        </blockquote>
    </section>
</section>

<style>
	#home {
		&::before {
			content: "";
    		position: absolute;
			z-index: 0;
			inset: 0;
    		background: radial-gradient(
				ellipse at 50% -70%,
    		    var(--white) 25%,
    		    var(--light-blue),
    		    var(--dark-grey) 50%
			);
			background-size: 200%;
			background-position: 50%;
			filter: blur(50px);
		}
			
		.section-inner {
			display: flex;
			align-items: center;
			flex-direction: column;
			
			h1 {
				font-family: "Tan Kulture";
				text-transform: uppercase;
				position: relative;
				text-align: center;
				font-weight: 500;
				margin-top: 128px;
				letter-spacing: 1px;
				
				/* Dynamic font-sizes */
				width: 100%;
				font-size: 10cqw;
				container-type: inline-size;
				
				/* Tablet */
				@media (max-width: 1280px) {
					font-size: 14cqw;
				}
				
				/* Mobile */
				@media (max-width: 768px) {
					font-size: 20cqw;
				}
				
				/* If the property is supported, trim down the heading so the margins are even. */
				@supports (text-box-trim: trim-both) {
					text-box-trim: trim-both;
					text-box-edge: cap alphabetic;
				}
				
				div {
					display: flex;
					position: absolute;
					width: fit-content;
					height: 70%;	
					
					top: 15%;
					left: 50%;
					transform: translateX(-50%);
					
					img {
						padding-top: 0.5rem;
						border-radius: 10rem;
						box-shadow: var(--smooth);
						background: var(--light-blue);
					}	

					&::after {
    				    content: "";
    				    position: absolute;
    				    height: 100%;
    				    width: 100%;
    				    padding: 4px;
    				    border-radius: 10rem;
    				    background-image: conic-gradient(
    				        from var(--angle),
    				        var(--medium-blue) 33%,
    				        var(--white),
    				        var(--medium-blue) 66%
    				    );
    				    top: 50%;
    				    left: 50%;
    				    transform: translate(-50%, -50%);
    				    animation: 3s spinBorder linear infinite;
    				}
				}
			}
			
			svg {
				/* Compensate the top and bottom margin, because of the bad heading-trim. */
				margin: 5rem 0 6rem 0;
				
				/* If the property is supported, we don't have to compensate the margins to be even. */
				@supports (text-box-trim: trim-both) {
					margin: 6rem 0;
				}
				
				/* Mobile */
				@media (max-width: 768px) {
					scale: 0.75;
					margin: 2rem 0 3rem 0;
					
					/* If the property is supported, we don't have to compensate the margins to be even. */
					@supports (text-box-trim: trim-both) {
						margin: 3rem 0;
					}
				}
			}
			
			blockquote {
				max-width: 40ch;
				font-size: 24px;
				text-align: center;
				margin-bottom: 64px;
				
				/* Mobile */
				@media (max-width: 768px) {
					font-size: 18px;
				}
			}
		}
	}
</style>