---
import Cases from "../molecules/Cases.astro"
---

<section id="work">
    <section class="section-inner">
        <Cases />

        <a href="https://github.com/TygoWolven?tab=repositories" class="primary-button">
            <span>
                All my work on Github
            </span>
        </a>
    </section>
</section>

<style> 
    #work {
        .primary-button {
            margin-bottom: 64px;

            span {
                &::before {
                    content: "48";
                    position: absolute;
                    font-size: 12px;
                    opacity: 0.5;
                    right: 1.8rem;
                    top: 1.2rem;
                    z-index: 2;
                }
            }
        }
    }
</style>