<section id="home">
    <section class="section-inner">
		<h1>
            Your <strong>Creative</strong> Frontend Designer and Developer
        </h1>
    </section>
</section>

<style>
	#home {
    	background: radial-gradient(
			circle at 50% 110%,
			var(--white),
			var(--light-blue),
			var(--dark-grey) 50%
		);
    	background-size: 200%;
    	background-position: 50%;

		.section-inner {
			height: 95vh;
			align-content: center;
            background: transparent;

			h1 {
				max-width: 24ch;
				margin-bottom: 18vh;
			}
		}
	}
</style>