---
import Skills from "../molecules/Skills.astro"
---

<section id="work">
    <section class="section-inner">
        <p>
            Now you might wonder, <strong>why</strong> would you need me, instead of someone else? 
            I will explain that by splitting up <strong>my skills</strong> into the next parts.
        </p>

        <input id="toggle-button" type="checkbox">
		<label for="toggle-button" class="primary-button toggle">
			<span>List</span>
			<span>Buttons</span>
		</label>

        <Skills />
    </section>
</section>

<style> 
    #work {
        section {
            padding: 0;
            display: grid;
            grid-template-areas: 
            "text switch"
            "subtitles subtitles"
            "skills skills";

            /* Mobile */
            @media (max-width: 768px) {
                grid-template-areas:
                "text"
                "subtitles"
                "skills";
            }

            & > p {
                grid-area: text;
                max-width: 48ch;
            }

            input {
                display: none;
        
                & + label {
                    grid-area: switch;
                    justify-self: end;
                    width: fit-content;
                }
            }

            label {
                /* Mobile */
                @media (max-width: 768px) {
                    display: none;
                }
            }

            input[type="checkbox"]#toggle-button:checked ~ .skills {
                  gap: 1rem;
                display: flex;
                flex-wrap: wrap;
                margin: 10rem 0 8rem 0;
                transform: skew(20deg) skewY(-10deg);
        
                li {
                    box-shadow: none;
                    position: relative;
                    background: var(--medium-grey);
                    transition: transform var(--quick);
                    border: 4px solid var(--light-grey);
        
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 12px;
                        left: -12px;
        
                        z-index: -1;
                        border-radius: 1rem;
                        transition: var(--quick);
                        background: var(--light-grey);
                    }
        
                    a {
                        border-radius: 1rem;
                        grid-template-columns: unset;
                        background: var(--medium-grey);
        
                        h3 {
                            min-width: unset;
                        }
        
                        p, svg {
                            display: none;
                        }
                    }
        
                    &:hover {
                        transform: translateX(-5px) translateY(5px);
                        
                        &::after {
                            transform: translateX(5px) translateY(-5px);
                        }
                    }
                }
            }
            input[type="checkbox"]#toggle-button:checked ~ .subtitles {
                display: none;
            }
        }
    }
</style>