<section id="home">
    <section class="section-inner">
		<h1>
            Web Designer <br> and <i>Developer</i>
        </h1>

		<div></div>
    </section>
</section>

<style>
	#home {
		&::before {
			content: "";
    		position: absolute;
			z-index: 0;
			inset: 0;
    		background: radial-gradient(
    		    ellipse at 50% -60%,
    		    var(--white) 20%,
    		    var(--light-blue),
    		    var(--dark-grey) 50%
    		);
    		background-size: 200%;
    		background-position: 50%;
    		filter: blur(100px);
		}

		.section-inner {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
            background: transparent;

			h1 {
				margin-bottom: calc(4rem + 8px);
				margin-top: 196px;
			}

			div {
				width: 1px;
				height: 200px;
				position: relative;
				background: linear-gradient(
					var(--light-blue),
					transparent
				);

				&::before {
					content: "";
					position: absolute;
					top: calc(-10px - 4px);
					left: -8px;
					width: 10px;
					aspect-ratio: 1;
					border-radius: 50%;
					border: 4px solid var(--light-blue);
				}
			}
		}
	}
</style>