---
import Star from "../atoms/icons/Star.astro"
---

<div class="slider flex">
    <div class="slider-slide flex">
        <h2>What</h2>
        <Star />
        <h2>I</h2>
        <Star /> 
        <h2>have</h2>
        <Star />
        <h2>to</h2>
        <Star />
        <h2>offer</h2>
        <Star />
    </div>
    <div class="slider-slide flex">
        <h2>What</h2>
        <Star />
        <h2>I</h2>
        <Star /> 
        <h2>have</h2>
        <Star />
        <h2>to</h2>
        <Star />
        <h2>offer</h2>
        <Star />
    </div>
</div>

<style>
    .slider {
        overflow: hidden;
        margin-bottom: 3.3rem;
    }

    .slider-slide {
        animation: 30s slide infinite linear;

        h2 {
            white-space: nowrap;
            margin: 0 2rem;
        }
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
</style>