/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Tan Kulture";
    src: url("/fonts/TAN-KULTURE-DISPLAY.ttf");
}

/* Custom Properties */
:root {
    /* Colors */
    --white: rgb(230, 230, 230);
    
    --light-grey: rgb(40, 40, 40);
    --medium-grey: rgb(32, 32, 32);
    --regular-grey: rgb(132, 132, 132);
    --dark-grey: rgb(20, 20, 20);
    
    --light-blue: rgb(130, 150, 200);
    --medium-blue: rgb(90, 110, 160);
    --dark-blue: rgb(70, 90, 140);
    
    /* Transitions */
    --quick: 0.2s ease;
    --slow: 0.4s ease;
    
    /* Box-shadows */
    --smooth: 5px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
    font-size: 16px;
    color: var(--white);
	font-family: Montserrat, 
    Inter, 
    Roboto, 
    'Helvetica Neue', 
    'Arial Nova', 
    'Nimbus Sans', 
    Arial, 
    sans-serif;
    
    &::-webkit-scrollbar {
        display: none;
    }
}
body {
    background: var(--dark-grey);
}

/* Headings */
h1, h2 {
    font-family: "Tan Kulture";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 120%;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
}

/* Mobile Headings */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1rem;
    }
}

/* Layout */
section {
    padding: 2rem;
    background: var(--dark-grey);
    
    /* Mobile */
    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.section-inner {
    padding: 0;
    width: 1440px;
    justify-self: center;
    
    /* Laptop */
    @media (max-width: calc(1440px + 4rem)) {
        width: 100%;
    }
}

/* Buttons */
.primary-button {
    font-weight: 600;
    user-select: none;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: var(--light-blue);
    border: 4px solid var(--dark-blue);
}

/* Bold Text */
strong {
    font-size: inherit;
    font-family: inherit;
    color: var(--light-blue);
}

/* Reusable Classes */
.flex {
    display: flex;
}
.justify {
    justify-content: space-between;
}