---
// Global CSS File
import "../assets/styles/global.css";

// Layout
import Header from "../components/organisms/Header.astro";
import Footer from "../components/organisms/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/T-Logo.png" />
		<title>Tygo Siemon Wolven | Creative Frontend Designer & Developer</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>