---
import "../assets/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/T-Logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Tygo Siemon Wolven | Creative Frontend Designer & Developer</title>
	</head>
	<body>
		<slot />
	</body>
</html>